.container {
  display: flex;
  flex-direction: row;
  padding: 1em 12%;
  height: 100%;
  align-items: center;
  margin-top: 8em;
}

.smallText {
  font-size: 14px;
  color: gray;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.4em;
}

.bigText {
  font-size: 4em;
  line-height: 1em;
  margin-top: -0.1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.homepage-draw {
  max-width: 700px;
  min-width: 350px;
  width: 100%;
}
